%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :nickname,"ニックネーム必須"
    %br/
    = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :phone_number
    %br/
    = f.telephone_field :phone_number
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label :last_name_kana
    %br/
    = f.text_field :last_name_kana
  .field
    = f.label :postal_code
    %br/
    = f.text_field :postal_code
  .field
    = f.label :prefecture
    %br/
    = f.select :prefecture, User.statuses.keys
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :building_name
    %br/
    = f.text_field :building_name
  .field
    = f.label :birth_year
    %br/
    = f.text_field :birth_year
  .field
    = f.label :birth_month
    %br/
    = f.text_field :birth_month
  .field
    = f.label :birth_day
    %br/
    = f.text_field :birth_day
  .field
    = f.label :credit_card_num
    %br/
    = f.text_field :credit_card_num
  .field
    = f.label :credit_card_expiration_month
    %br/
    = f.text_field :credit_card_expiration_month
  .field
    = f.label :credit_card_expiration_year
    %br/
    = f.text_field :credit_card_expiration_year
  .field
    = f.label :credit_card_security_num
    %br/
    = f.text_field :credit_card_security_num
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
