.sell-upload-box
  #preview
  %h3.sell-upload-head
    出品画像
    %span.form-require 必須
  %p 最大4枚までアップロードできます
  .sell-dropbox-container.clearfix.state-image-number-4
    .sell-upload-items-container
      %div{class: "sell-upload-items #{@item_image_length}"}
        %ul
          - if controller.action_name == 'edit'
            = render partial: '/items/form/singleImage', locals: {item_images: @item_images}
        .sell-upload-drop-box#drop_zone.clearfix
          %pre
            =preserve do
              ドラッグアンドドロップ
              またはクリックしてファイルをアップロード
= f.fields_for(@item_image_new) do |i|
  = i.file_field :image, multiple: true, class: 'sell-upload-drop-file', style: 'display: none', id: 'item_image', name:"item[item_images_attributes][][image]"
  = i.hidden_field :id, name:"item[item_images_attributes][][id]"
  = i.hidden_field :image_cache, name:"item[item_images_attributes][][image_cache]"
= f.fields_for(:item_images) do |t|
  = t.file_field :image, class: 'sell-single-image-file', style: 'display: none', name:"item[item_images_attributes][][image]", id: "imageAttrOf#{t.object.id}"
  = t.hidden_field :id, name:"item[item_images_attributes][][id]", id: "idAttrOf#{t.object.id}"
  = t.hidden_field :image_cache, name:"item[item_images_attributes][][image_cache]", id: "cacheAttrOf#{t.object.id}"
  = t.hidden_field :_destroy, name:"item[item_images_attributes][][_destroy]", id: "destroyAttrOf#{t.object.id}"

