.header-innner
  .header-innner__clearfix
    %h1.header-innner__left
      = link_to image_tag('/images/mercari.png'), root_path,class: 'header-innner__link'
    %form(action='' class='header-innner__form')
      %input(type='search' name='keyword' placeholder='キーワードから探す' class='header-innner__input')
        =fa_icon "search", class: 'header-innner__search-icon'
  .header-innner__clearfix.header-innner__navbox
    %nav.header-innner__left
      %ul.header-innner__nav
        %li.header-innner__nav-category
          %h2
            = link_to "カテゴリーから探す", categories_path, class: 'header-innner__nav-root'
          %ul.header-innner__category-nav
            - cache "index_category_template", expires_in: 20.minutes do
              - Category.roots().each do |parent_category|
                %li.header-innner__category-nav--parent
                  %h3
                    = link_to "#{parent_category.name}", category_path(parent_category),class: "header-innner__category-nav--parent-name"
                  %ul.header-innner__category-nav--child-wrap
                    -parent_category.children.each do |child_category|
                      %li.header-innner__category-nav--child
                        = link_to "#{child_category.name}",category_path(child_category)
                        %ul.header-innner__category-nav--grand-child-wrap
                          -child_category.children.each do |grand_child_category|
                            %li.header-innner__category-nav--grand-child
                              = link_to "#{grand_child_category.name}",category_path(grand_child_category)

        %li.header-innner__nav-bland
          %h2
            = link_to "ブランドから探す", brands_path,class: 'header-innner__nav-root'
          %ul.header-innner__bland-nav
            -Brand.recommend_items_i18n.invert.keys.each do |brand|
              %li.header-innner__bland-nav-list
                %h3
                  = link_to "#{brand}", brand_path(brand, name: brand),class: "header-innner__bland-nav-name"
            %li.header-innner__bland-nav-list
              %h3
                = link_to "ブランド一覧", brands_path,class: "header-innner__bland-nav-name"

    .header-innner__right
      %ul.header-innner__login-nav
        -if user_signed_in?
          %ul.header-innner__login-user
            %li
              =link_to users_mypage_path, class: 'header-innner__mypage'  do
                .header-innner__mypage-link
                  .header-innner__icon-image
                    =image_tag '/images/unsetted-user-image.jpg'
                  .header-innner__mypage-text マイページ
            %li
              =link_to users_mypage_path, class: 'header-innner__notice' do
                %i.far.fa-bell.like-icon.header-innner__icon-bell
                %span お知らせ
            %li
              =link_to users_mypage_path do
                %i.fas.fa-check.header-innner__icon-check
                %span やることリスト
        -else
          %li
            = link_to "ログイン", new_user_session_path,class: 'header-innner__header-btn--login'
          %li.header-innner__signup
            = link_to "新規会員登録", users_sign_up_top_path,class: 'header-innner__header-btn--signup'

