.form-group
  = f.label :name, "お名前"
  %span.form-require 必須
  = f.text_field :last_name, placeholder: "例) 山田", class: "input-default"
  %br/
  = f.text_field :first_name, placeholder: "例) 綾", class: "input-default"
.form-group
  = f.label :name_kana, "お名前カナ"
  %span.form-require 必須
  %br/
  = f.text_field :last_name_kana, placeholder: "例) ヤマダ", class: "input-default"
  %br/
  = f.text_field :first_name_kana, placeholder: "例) アヤ", class: "input-default"
.form-group
  = f.label :postal_code, "郵便番号"
  %span.form-require 必須
  %br/
  = f.text_field :postal_code, placeholder: "例) 1234567", class: "input-default"
.form-group
  = f.label :prefecture, "都道府県"
  %span.form-require 必須
  %br/
  = f.select :prefecture, User.prefectures.keys, {}, { class: "input-default" }
.form-group
  = f.label :city, "市区町村"
  %span.form-require 必須
  %br/
  = f.text_field :city, placeholder: "例) 横浜市緑区", class: "input-default"
.form-group
  = f.label :address, "番地"
  %span.form-require 必須
  %br/
  = f.text_field :address, placeholder: "例) 青山1-1-1", class: "input-default"
.form-group
  = f.label :building_name, "建物名"
  %span.form-arbitrary 任意
  %br/
  = f.text_field :building_name, placeholder: "例) 柳ビル103", class: "input-default"
.form-group
  = f.label :date_of_birth, "生年月日"
  %span.form-require 必須
  /横並びにならない fixme
  %br/
  .select-wrap
    .birthday-select-wrap
      = f.select :birth_year, options_for_select(["-"]+(1950..2018).to_a, selected: @user.birth_year),{},{id: "",class: "input-default"}
    .birthday-select-wrap
      %span 年
    .birthday-select-wrap
      = f.select :birth_month, options_for_select(["-"]+(01..12).to_a, selected: @user.birth_month),{},{id: "",class: "input-default"}
    .birthday-select-wrap
      %span 月
    .birthday-select-wrap
      = f.select :birth_day, options_for_select(["-"]+(01..31).to_a, selected: @user.birth_day),{},{id: "",class: "input-default"}
    .birthday-select-wrap
      %span 日
