%header.header-content
  = render 'shared/header'

#main.main-content
  = render 'top-images'

#aside.items-content
  = render 'items'

#aside.banner-content
  = render 'shared/banner-content'

#footer.footer-content
  = render 'shared/footer'

%a(class='sell-btn' href='/items/new')
  = render 'shared/sell-btn'
