!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FreemarketSample41b
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity: "sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", rel: "stylesheet"}/
    = csrf_meta_tags
    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header-content
      = render 'shared/header'
      .header-breadcrumb
        .header-innner
          - breadcrumb :mypages
          = breadcrumbs separator: " &rsaquo; "
    .mypage-container.clearfix
      %main.mypage-content
        = yield
      %aside.mypage-sidebar
        = render '/users/sidebar'
    #aside.banner-content.clearfix
      = render 'shared/banner-content'

    #footer.footer-content
      = render 'shared/footer'

    %a(class='sell-btn' href='')
      = render 'shared/sell-btn'
